<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>serie1</display-name>
	    <welcome-file-list>
	  	<welcome-file>QueryStringSender.html</welcome-file>
  	</welcome-file-list>
<servlet>
    <servlet-name>QueryStringReceiver</servlet-name>
    <servlet-class>be.condorcet.QueryStringReceiver</servlet-class>
  
</servlet>

<servlet>
    <servlet-name>DataReceiver</servlet-name>
    <servlet-class>be.condorcet.DataReceiver</servlet-class>
  
</servlet>
<servlet>
    <servlet-name>PokemonReceiver</servlet-name>
    <servlet-class>be.condorcet.PokemonReceiver</servlet-class>
  
</servlet>

<servlet>
    <servlet-name>ResponseHandler</servlet-name>
    <servlet-class>be.condorcet.ResponseHandler</servlet-class>
  
</servlet>
<servlet-mapping>
		<servlet-name>QueryStringReceiver</servlet-name>
		<url-pattern>/Servlet</url-pattern>
		<url-pattern>/PremiereServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
		<servlet-name>DataReceiver</servlet-name>
		<url-pattern>/FirstServlet</url-pattern>
		<url-pattern>/DeuxiemeServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
		<servlet-name>PokemonReceiver</servlet-name>
		<url-pattern>/MonServlet</url-pattern>
		<url-pattern>/LeServlet</url-pattern>
</servlet-mapping>


<servlet-mapping>
		<servlet-name>ResponseHandler</servlet-name>
		<url-pattern>/MaServlet</url-pattern>
		<url-pattern>/CetteServlet</url-pattern>
</servlet-mapping>
<context-param>
	<param-name>connection-string</param-name>
	<param-value>dbOracle</param-value>
</context-param>
</web-app>

